# Build folder and log file
build/
build.log

/labcode/Finished/06_models/Resources/alloy.js
/labcode/Finished/06_models/Resources/alloy/
/labcode/Finished/06_models/Resources/android/
/labcode/Finished/06_models/Resources/app.js
/labcode/Finished/06_models/Resources/appicon.png
/labcode/Finished/06_models/Resources/appicon@2x.png
/labcode/Finished/06_models/Resources/images/
/labcode/Finished/06_models/Resources/iphone/
/labcode/Finished/06_models/Resources/KS_nav_ui.png
/labcode/Finished/06_models/Resources/KS_nav_views.png
/labcode/Finished/06_models/Resources/mobileweb/

/labcode/Finished/07_networking/Resources/alloy.js
/labcode/Finished/07_networking/Resources/alloy/
/labcode/Finished/07_networking/Resources/android/
/labcode/Finished/07_networking/Resources/app.js
/labcode/Finished/07_networking/Resources/appicon.png
/labcode/Finished/07_networking/Resources/appicon@2x.png
/labcode/Finished/07_networking/Resources/images/
/labcode/Finished/07_networking/Resources/iphone/
/labcode/Finished/07_networking/Resources/KS_nav_ui.png
/labcode/Finished/07_networking/Resources/KS_nav_views.png
/labcode/Finished/07_networking/Resources/mobileweb/

/labcode/Finished/08_multimedia/Resources/alloy.js
/labcode/Finished/08_multimedia/Resources/alloy/
/labcode/Finished/08_multimedia/Resources/android/
/labcode/Finished/08_multimedia/Resources/app.js
/labcode/Finished/08_multimedia/Resources/appicon.png
/labcode/Finished/08_multimedia/Resources/appicon@2x.png
/labcode/Finished/08_multimedia/Resources/images/
/labcode/Finished/08_multimedia/Resources/iphone/
/labcode/Finished/08_multimedia/Resources/mobileweb/

/labcode/Finished/09_filesystem/Resources/alloy.js
/labcode/Finished/09_filesystem/Resources/alloy/
/labcode/Finished/09_filesystem/Resources/android/
/labcode/Finished/09_filesystem/Resources/app.js
/labcode/Finished/09_filesystem/Resources/appicon.png
/labcode/Finished/09_filesystem/Resources/appicon@2x.png
/labcode/Finished/09_filesystem/Resources/images/
/labcode/Finished/09_filesystem/Resources/iphone/
/labcode/Finished/09_filesystem/Resources/mobileweb/

/labcode/Finished/10_geolocation/Resources/alloy.js
/labcode/Finished/10_geolocation/Resources/alloy/
/labcode/Finished/10_geolocation/Resources/android/
/labcode/Finished/10_geolocation/Resources/app.js
/labcode/Finished/10_geolocation/Resources/appicon.png
/labcode/Finished/10_geolocation/Resources/appicon@2x.png
/labcode/Finished/10_geolocation/Resources/images/
/labcode/Finished/10_geolocation/Resources/iphone/
/labcode/Finished/10_geolocation/Resources/mobileweb/

/labcode/Finished/12_webcontent/.settings/com.appcelerator.titanium.core.prefs
/labcode/Finished/12_webcontent/.settings/com.appcelerator.titanium.mobile.prefs

/labcode/Finished/12_webcontent/Resources/alloy.js
/labcode/Finished/12_webcontent/Resources/alloy/
/labcode/Finished/12_webcontent/Resources/android/
/labcode/Finished/12_webcontent/Resources/app.js
/labcode/Finished/12_webcontent/Resources/css/
/labcode/Finished/12_webcontent/Resources/graph.html
/labcode/Finished/12_webcontent/Resources/iphone/
/labcode/Finished/12_webcontent/Resources/js/
/labcode/Finished/12_webcontent/Resources/mobileweb/

/labcode/Finished/05_alloy/Resources/alloy.js
/labcode/Finished/05_alloy/Resources/alloy/
/labcode/Finished/05_alloy/Resources/android/
/labcode/Finished/05_alloy/Resources/app.js
/labcode/Finished/05_alloy/Resources/appicon.png
/labcode/Finished/05_alloy/Resources/appicon@2x.png
/labcode/Finished/05_alloy/Resources/images/
/labcode/Finished/05_alloy/Resources/iphone/
/labcode/Finished/05_alloy/Resources/KS_nav_ui.png
/labcode/Finished/05_alloy/Resources/KS_nav_views.png
/labcode/Finished/05_alloy/Resources/mobileweb/
